<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./include/head') %>
    <style>
      #asobre {
        color: #fff;
      }
    </style>
    <title>Emissor de NFe - Sobre</title>
  </head>
  <body>
    <%- include('./include/header') %>

    <main></main>

    <%- include('./include/footer') %>
  </body>
</html>
