/* Pagina Emissor */

input[name="cliente_nome_completo"] {
    width: 350px;
}
/* input[name="cliente_cpf"] {
    padding: 5px;
}

input[name="cliente_endereco"] {
    width: 80%;
}


input[name="cliente_endereco"] {
    width: 80%;
} */

.col-md {
    margin-bottom: 10px;
}







footer {
    position: fixed;
    left: 0;
    bottom: 0;
    
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}