@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
}


/* Pagina Github */

#github {
    margin: 0 auto;
    width: 50%;
    margin-top: 20px;
}

.github img {
    margin: 20px 0;
}

.github h2 {
    margin-bottom: 15px;
}

.name {
    display: none;
}

.image {
    margin: 15px 0px;
}

.data {
    display: flex;
}

.rep {
    /* display: flex; */
    display: none;
    padding: 10px;
}

.profiledata h2 {
    margin: 10px 20px;
}

#dados {
    display: none;
    margin: 20px 20px;
}

#dados h2 {
    padding-bottom: 15px;
}

/* Pagina Emissor */

.col-md {
    margin-bottom: 10px;
}

#emissor {
    width: 80%;
    margin: 0px auto;
    border: 5px solid black;
    padding: 10px 10px;
    margin-top: 10px;

}

.products_table {
    table-layout:fixed;
    width:100%;
}

#emitirnf {
    width: auto;
    margin-left: 45%;
    margin-top: 20px;
}

#emitirnf:hover,
.botao:hover {
    background-color: blanchedalmond;
}

#produtos_total_nota {
    background-color: black;
    color: white;
}

.botao {
    padding: 5px;
    margin-left: 10px;
}

/* Footer  */

footer {
    margin-top: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}