@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    --primary-color: #4668C7;
    --secondary-color: #6d7691;
    --bg-color: hsl(219, 100%, 93%);
    --support-color: #2B407A;

}

/* Todas paginas */

body {
    display: flex;
    flex-direction: column;
}

.body {
    background-color: var(--bg-color);

}

#navbar {
    background-color: var(--primary-color);
}

input, select {
    background-color: var(--secondary-color) !important;
    color: white !important;
}

label {
    font-weight: 600;
}

::placeholder {
    color: white !important;
}



/* Pagina Github */

#github {
    margin: 0 auto;
    width: 50%;
    margin-top: 20px;
}

.github img {
    margin: 20px 0;
}

.github h2 {
    margin-bottom: 15px;
}

.name {
    display: none;
}

.image {
    margin: 15px 0px;
}

.data {
    display: flex;
}

.rep {
    /* display: flex; */
    display: none;
    padding: 10px;
}

.profiledata h2 {
    margin: 10px 20px;
}

.error {
    color: red;
    border: 1px solid black;
}

#dados {
    display: none;
    margin: 20px 20px;
}

#dados h2 {
    padding-bottom: 15px;
}

/* Pagina Emissor */

.titulo-informacoes {
    font-size: 2em;
    margin: 25px 0;
}

.headform {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.headinputs {
    padding: 10px;
}

.col-md {
    margin-bottom: 10px;
}

.tipo_cliente {
    margin: 10px 0;
}

#emissor {
    width: 80%;
    margin: 0px auto;
    border: 5px solid black;
    padding: 10px 10px;
    margin-top: 10px;

}

.products_table {
    table-layout: fixed;
    width: 100%;
}

.label {
    margin: auto 0;
}

#emitirnf:hover,
.botao:hover {
    background-color: blanchedalmond;
}

#produtos_total_nota {
    background-color: #4DAF50;
    font-weight: 600;
}

.botao {
    padding: 5px;
}

#emitirnf {
    width: 100%;
    margin: 30px 0;
    background-color: #4DAF50;
    font-size: large;
    font-weight: 600;
}

/* Footer  */

footer {
    margin-top: 100px;
    padding: 30px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}