<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../include/head') %>
    <style>
      #asobre {
        color: #fff;
      }
    </style>
    <title>Emissor de NFe - Sobre</title>
    <script src="./js/github.js"></script>
  </head>
  <body class="body">
    <%- include('../include/header') %>

    <main id="github" class="github">
      <div>
        <img
          src="https://pngimg.com/uploads/github/github_PNG17.png"
          alt=""
          width="600px"
        />
      </div>
      <div>
        <div>
          <span style="color: red" id="span"></span>
        </div>
        <div>
          <h2>Favor informar seu usuario no Github</h2>
        </div>
        <div style="text-align: center; margin: 20px 20px;">
          <input type="text" id="user" autocomplete="off" autofocus />
          <button id="pesquisar">Pesquisar</button>
        </div>
        <div>
          <h2 style="padding: 10px" id="name" class="name">Felipe Mano</h2>
        </div>
        <div class="data">
          <div class="image">
            <img src="" id="foto" width="300px" />
          </div>
          <div class="rep">
            <div>
              <h2>Repositórios</h2>
              <h2 style="text-align: center" id="repdata"></h2>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div id="dados" class="dados">
        <h2>Repositórios</h2>
        <ul id="rep"></ul>
      </div>
    </main>

    <%- include('../include/footer') %>
  </body>
</html>
