<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('../include/head') %>
    <style>
      #ahome {
        color: #fff;
      }
    </style>
    <title>Emissor de NFe - Home</title>
  </head>
  <body>
    <%- include('../include/header') %>

    <main>
      <div class="imginit text-center">
        <img
          src="https://gestaoclick.com.br/wp-content/uploads/Qual_emissor_de_nota_fiscal_devo_escolher_10_55_39.png"
          width="800px"
          alt="Imagem principal emissor"
        />
      </div>
      <div class="text-center">
        <form action="/emissor">
          <button type="submit" name="">Acesse o emissor</button>
        </form>
      </div>
      <hr />
    </main>

    <%- include('../include/script') %>
    <%- include('../include/footer') %>
  </body>
</html>
