<tr class="danfe_item">
    <td align="left"><%= {cliente_nome_completo} %></td>
    <td align="left">{descricao}</td>
    <td>{ncm}</td>
    <td>{cst}</td>
    <td>{cfop}</td>
    <td>{un com}</td>
    <td>{qnt}</td>
    <td>{preco un}</td>
    <td>{preco total}</td>
    <td>{bc icms}</td>
    <td>{valor icms}</td>
    <td>{valor ipi}</td>
    <td>{% icms}</td>
    <td>{% ipi}</td>
  </tr>